/* CSS3 */
.bgimage {
  background: url("../images/cloud-backgrounds.jpg") no-repeat center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
  background-size: cover;
}
