<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>layout home</title>
    <link rel="stylesheet" type="text/css" href="cssboxlayout-eg4.css">
  </head>
  <body>
  
    <h1>Layout examples</h1>
  
    <hr>
  
    <h2>Examples</h2>
    <ul>
    <li><p>Website layout: <a href="website-layout.html">web layout</a> </p></li>
    <li><p>Box layout: <a href="cssboxlayout-eg4">box layout</a> </p></li>
    </ul>
 

  
  
  
  </body>
</html>
