* {
    box-sizing: border-box;
}

h1 {
  text-align: center;
}

h2 {
  padding-left: 10px;
}



/* basic div box */
.divbox {
  border: 2px solid yellow;
  margin: 10px;
}

.divbox p {
  text-align: center;
}


/* -- using a flex box -- */
.fboxcontainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.leftcol, .middlecol, .rightcol {
  margin:10px;
}
.leftcol {
  width: 25%;
  background-color: blue;

}
.middlecol {
  width: 50%;
  background-color: green;
}
.rightcol {
  width: 25%;
  background-color: yellow;
}


