* {
    box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  color: #333333;
  margin:0;
}

p {
  margin-left: 10px;
}

.bodycontent {
    margin-left: 20px;
    margin-right: 20px;
}


